packaging_format = 2

id = "yeswiki"
name = "YesWiki"
description.en = "Wiki that is quick and easy to use"
description.fr = "Wiki facile et rapide à prendre en main"

version = "4.4.4~ynh2"

maintainers = ["Florian Schmitt", "Nils Van Zuijlen", "Plumf"]

[upstream]
license = "AGPL-3.0-only"
website = "https://yeswiki.net/"
demo = "https://ferme.yeswiki.net/?CreerSonWiki"
admindoc = "https://yeswiki.net/?DocumentatioN"
code = "https://github.com/YesWiki/yeswiki"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true
ldap = true
sso = false
disk = "100M"
ram.build = "200M"
ram.runtime = "50M"

[install]
[install.domain]
type = "domain"

[install.path]
type = "path"
default = "/yeswiki"

[install.init_main_permission]
help.en = "If YesWiki is made public anyone will be able to view the wiki"
help.fr = "Si YesWiki est rendu publique toute personne pourra consulter le wiki"
type = "group"
default = "visitors"

[install.language]
ask.en = "Choose the application language"
ask.fr = "Choisissez la langue de l'application"
type = "select"
choices = ["fr", "en", "ca", "es", "nl", "pt"]
default = "fr"

[install.wikimodel]
ask.en = "Choose the wiki model"
ask.fr = "Choisissez le modèle de wiki"
type = "select"
choices = ["YesWiki", "CLIC"]
default = "YesWiki"

[install.authprovider]
ask.en = "Choose the authentification type"
ask.fr = "Choisissez le système d'authentification"
type = "select"
choices = ["Yunohost SSO", "YesWiki"]
default = "Yunohost SSO"

[install.admin]
type = "user"

[install.wiki_name]
ask.en = "Choose the wiki name"
ask.fr = "Choisissez le nom de votre wiki"
help.en = "If you want a name with spaces: replace them with %20 for each space."
help.fr = "Si vous souhaitez un nom avec des espacements : remplacez les par %20 pour chaque espace"
type = "string"
default = "MyYunoHostWiki"

[resources]
[resources.sources.main]
url = "https://github.com/YesWiki/yeswiki/archive/refs/tags/v4.4.4.tar.gz"
sha256 = "0b4e97bdd01ab627a8a9cb5bf652708e34a9322509cb8fcb9db0fb12b6a3e6ef"
autoupdate.strategy = "latest_github_tag"

[resources.sources.loginldap]
url = "https://repository.yeswiki.net/doryphore/extension-loginldap-1.0.0.zip"
sha256 = "28c9489e4fb0c83e0e775d80a1d07cbc3fbf56d42ab550b45571455f1a6ce9f9"

[resources.sources.yunohostplugin]
url = "https://repository.yeswiki.net/doryphore/extension-yunohost-1.0.0.zip"
sha256 = ""

[resources.sources.ferme]
url = "https://repository.yeswiki.net/doryphore/extension-ferme-1.1.8.zip"
sha256 = "e83a21eaa911b7beb2d845a16c896b2d4d4db2a9d5d2dfca8f0b7c910a329203"

[resources.system_user]

[resources.install_dir]

[resources.permissions]
main.url = "/"

[resources.apt]
packages = "mariadb-server, php8.2-zip, php8.2-curl, php8.2-gd, php8.2-dom, php8.2-mysql, php8.2-ldap"

[resources.database]
type = "mysql"
