packaging_format = 2

id = "yeswiki"
name = "YesWiki"
description.en = "Wiki that is quick and easy to use"
description.fr = "Wiki facile et rapide à prendre en main"

version = "4.5.5~ynh1"

maintainers = ["alexAubin","eric_G", "Florian Schmitt", "Nils Van Zuijlen", "Plumf", "12b"]

[upstream]
license = "AGPL-3.0-only"
website = "https://yeswiki.net/"
demo = "https://ferme.yeswiki.net/?CreerSonWiki"
admindoc = "https://yeswiki.net/?doc"
code = "https://github.com/YesWiki/yeswiki"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = true

disk = "100M"
ram.build = "200M"
ram.runtime = "50M"

[install]
  [install.domain]
  type = "domain"

  [install.path]
  type = "path"
  default = "/yeswiki"

  [install.init_main_permission]
  help.en = "If YesWiki is made public anyone will be able to view the wiki"
  help.fr = "Si YesWiki est rendu publique toute personne pourra consulter le wiki"
  type = "group"
  default = "visitors"

  [install.language]
  ask.en = "Choose the application language"
  ask.fr = "Choisissez la langue de l'application"
  type = "select"
  choices = ["fr", "en", "ca", "es", "nl", "pt"]
  default = "fr"

  [install.wikimodel]
  ask.en = "Choose the wiki model"
  ask.fr = "Choisissez le modèle de wiki"
  help.en = "YesWiki installs a default YesWiki installation, CLIC will change default look and add a view with installed yunohost apps."
  help.fr = "YesWiki est une installation par défaut de YesWiki, CLIC change le look et les pages par défaut pour ajouter la vue des applications YunoHost installées."
  type = "select"
  choices = ["YesWiki", "CLIC"]
  default = "YesWiki"

  [install.authprovider]
  ask.en = "Choose the authentification type"
  ask.fr = "Choisissez le système d'authentification"
  help.en = "Choose YunoHost SSO to restrict auth to the YunoHost users, choose YesWiki to have an independant user base managed by YesWiki."
  help.fr = "Choisir YunoHost SSO pour n'utiliser que la base d'utilisateurices de YunoHost ou choisir YesWiki pour une base indépendante gérée par YesWiki."
  type = "select"
  choices = ["YunoHost SSO", "YesWiki"]
  default = "YunoHost SSO"

  [install.admin]
  type = "user"

  [install.wiki_name]
  ask.en = "Choose the wiki name"
  ask.fr = "Choisissez le nom de votre wiki"
  help.en = "If you want a name with spaces: replace them with %20 for each space."
  help.fr = "Si vous souhaitez un nom avec des espacements : remplacez les par %20 pour chaque espace"
  type = "string"
  default = "YesWiki"

  [install.allow_robots]
  ask.en = "Allow search engines indexing"
  ask.fr = "Permettre l'indexation par les moteurs de recherche"
  type = "boolean"
  default = true

  [install.with_sftp]
  ask.en = "Do you need a SFTP access?"
  ask.fr = "Avez-vous besoin d'un accès SFTP ?"
  type = "boolean"
  default = false

  [install.password]
  type = "password"
  optional = true
  help.en = "Optional, this corresponds to the password for SFTP access, if you enabled it"
  help.fr = "Optionnel, corresponds au mot de passe pour l'accès SFTP, si vous l'avez activé"

[resources]
  [resources.sources.main]
  url = "https://github.com/YesWiki/yeswiki/archive/refs/tags/v4.5.5.tar.gz"
  sha256 = "83e829994095ef336afc730aed44dec3c02e9889d83d15828dd36983847482f0"
  autoupdate.strategy = "latest_github_tag"

  [resources.sources.yunohostplugin]
  url = "https://repository.yeswiki.net/doryphore/extension-yunohost-1.0.6.zip"
  sha256 = "bf52954e5bd5640a977b1e0e4f8e3ffd132d91cab894004cf8495b5a6fc91c41"

  [resources.sources.importerplugin]
  url = "https://repository.yeswiki.net/doryphore/extension-importer-1.0.4.zip"
  sha256 = "134058aad4a8328a380255da3e1564972ccf85a4fae44df551ea41ba4073a756"

  [resources.sources.ferme]
  url = "https://repository.yeswiki.net/doryphore/extension-ferme-1.2.2.zip"
  sha256 = "5020c4199e02f1902e399107ae29b9d80ed2052f788339a79783a12783fa5998"

  [resources.system_user]
  allow_email = true

  [resources.install_dir]
  group = "www-data:r-x"

  [resources.permissions]
  main.url = "/"

  [resources.apt]
  packages = "mariadb-server, php8.3, php8.3-bcmath, php8.3-cli, php8.3-common, php8.3-curl, php8.3-fpm, php8.3-gd, php8.3-gmp, php8.3-igbinary, php8.3-imagick, php8.3-imap, php8.3-intl, php8.3-mbstring, php8.3-mysql, php8.3-opcache, php8.3-readline, php8.3-sqlite3, php8.3-xml, php8.3-xmlrpc, php8.3-zip, php8.3-dom, php8.3-ldap"

  [resources.database]
  type = "mysql"

  [resources.composer]
  version = "2.9.2"
